// breakpoints
$desktop-big: 1200px;
$desktop-small:1000px;
$tablet-big: 930px;
$tablet-middle:800px;
$tablet-small: 738px;
$mobile: 576px;

:root {
	--ff: 'Averta Demo PE Cutted Demo', sans-serif;
	--transition: .2s all ease;

	--btn: #2639ED;
	--black:#000;
	--desc:#757575;
	--link-white: #fff;
	--c-border: #eee;

	--blue-bg:#F1F7FF; 
	--rose-bg:#FFF2F8;
	--ylw-bg:#FFF7E3;
	--green-bg:#DEFFEE;

}
